<!DOCTYPE doctype html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>WordWeaver GUI Sample</title>
  <base href="/" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="{{favicon}}" rel="icon" type="image/x-icon" />
</head>


<body>
  <app-root></app-root>
  {% for import in gui_imports %}
  <script nonce="{{ csp_nonce() }}" src="{{import}}" type="text/javascript"></script>
  {% endfor %}
  <!-- <script nonce="{{ csp_nonce() }}" src="https://roedoejet.github.io/wordweaver-GUI/dist_toy/runtime.js"
    type="text/javascript"></script>
  <script nonce="{{ csp_nonce() }}" src="https://roedoejet.github.io/wordweaver-GUI/dist_toy/polyfills.js"
    type="text/javascript"></script>
  <script nonce="{{ csp_nonce() }}" src="https://roedoejet.github.io/wordweaver-GUI/dist_toy/scripts.js"
    type="text/javascript"></script>
  <script nonce="{{ csp_nonce() }}" src="https://roedoejet.github.io/wordweaver-GUI/dist_toy/vendor.js"
    type="text/javascript"></script>
  <script nonce="{{ csp_nonce() }}" src="https://roedoejet.github.io/wordweaver-GUI/dist_toy/main.js"
    type="text/javascript"></script> -->
</body>

</html>